- name: Bring up list of hosts
  docker_container:
    name: "{{ item['name'] }}"
    image: "{{ item.image|default(provision_docker_image_default) }}"
    privileged: "{{ provision_docker_privileged }}"
    state: "{{ provision_docker_state }}"
    restart: "{{ item.restart|default(True) }}"
    tls: "{{ provision_docker_use_tls }}"
    stop_timeout: 1
    tty: "{{provision_docker_use_docker_connection | bool}}"
    expose: "{{ item.expose|default(['1-65535']) }}"
    ports: "{{ item.ports|default(omit) }}"
    command: "{{ item.command|default(omit) }}"
    env: "{{ item.env|default(omit) }}"
    links: "{{ item.links|default(omit) }}"
    network_mode: "{{ item.network_mode|default(provision_docker_network) }}"
    volumes: "{{ item.provision_docker_volumes|default(omit) }}"
    volumes_from: "{{ item.provision_docker_volumes_from|default(omit) }}"
    pull: "{{ item.pull|default(omit) }}"
  with_items: "{{ provision_docker_inventory }}"

- name: Get IP of container
  local_action:
    module: "command"
    args: "docker inspect --format '{{ '{{' }} .NetworkSettings.IPAddress {{ '}}' }}' {{ item.name }}"
  register: provision_docker_ip
  with_items: "{{ provision_docker_inventory }}"
  changed_when: false

- block:
  # TODO: copy ALL host vars in the inventory
  - name: "Associate ip address with hosts"
    add_host:
      name: "{{ item.1['name'] }}"
      ansible_ssh_host: "{{ provision_docker_ip.results[item.0].stdout }}"
      ansible_ssh_user: "{{ item.1['ansible_ssh_user']|default(provision_docker_ssh_user) }}"
      ansible_ssh_pass: "{{ item.1['ansible_ssh_pass']|default(provision_docker_ssh_pass) }}"
      groups: "{{ provision_docker_groups | union(item.1['groups']|default([])) | join(',') }}"
    with_indexed_items: "{{ provision_docker_inventory }}"
    changed_when: false

  - name: Wait for ssh
    wait_for:
      host: "{{ hostvars[item.name]['ansible_ssh_host'] }}"
      port: 22
      timeout: 60
      connect_timeout: 5
    with_items: "{{ provision_docker_inventory }}"
  when: not provision_docker_use_docker_connection

# TODO: copy ALL host vars in the inventory
- name: "Add docker hosts with connection docker"
  add_host:
    name: "{{ item.1['name'] }}"
    docker_ip: "{{ provision_docker_ip.results[item.0].stdout }}"
    ansible_connection: docker
    ansible_user: root
    groups: "{{ provision_docker_groups | union(item.1['groups']|default([])) | join(',') }}"
  with_indexed_items: "{{ provision_docker_inventory }}"
  changed_when: false
  when: provision_docker_use_docker_connection

- name: Make sure able to connect to hosts
  raw: echo Hello
  delegate_to: "{{ item['name'] }}"
  with_items: "{{ provision_docker_inventory }}"
  changed_when: false
